<p id="notice"><%= notice %></p>

<h1>States</h1>

<div class="container">
  <table class="table table-reponsive table-sm table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @states.each do |state| %>
        <tr>
          <td><%= state.name %></td>
          <td class="text-center">
            <%= link_to 'Show', state, class: "btn btn-sm btn-info" %>
            <%= link_to 'Edit', edit_state_path(state), class: "btn btn-sm btn-warning" %>
            <%= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= link_to 'New State', new_state_path, class: "btn btn-primary" %>
  </div>

</div>
