<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<div class="container">
  <div class="card">
    <div class="card-body">
      <%= form_tag(cities_search_path, :method => "get", enforce_utf8: false ) do %>
      <div class="row">
        <%= label_tag(:name, "Search for City:", class:"col-sm-2 col-form-label") %>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-5">
              <%= text_field_tag(:name, nil, class:"form-control") %>
            </div>
            <div class="col-sm-5">
              <%= collection_select :city, :state, State.all, :name, :name, {include_blank: 'All States' }, {class: "form-control"} %>
            </div>
            <div class="col-sm-2">
              <%= submit_tag("Search", class: "btn btn-sm btn-dark", name: nil) %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <br>
  <%= render partial:"search_results" %>
  <div class="actions">
    <%= link_to 'New City', new_city_path, class: "btn btn-primary" %>
  </div>

</div>